@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  .body-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
}

.of-hidden {
  overflow: hidden;
}

a {
  text-decoration-line: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .container {
    max-width: 708px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 280px;
    padding: 0;
  }
}

img {
  max-width: 100%;
}

h2 {
  color: white;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}
@media (max-width: 320px) {
  h2 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.5px;
  }
}

h3 {
  color: rgb(84, 84, 84);
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
@media (max-width: 320px) {
  h3 {
    font-size: 25px;
  }
}

h4 {
  color: rgb(84, 84, 84);
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  color: rgb(84, 84, 84);
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

p {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
@media (max-width: 320px) {
  .header .container {
    padding: 30px 10px;
  }
}

.logo {
  text-decoration-line: none;
  display: block;
}
.logo .logo__h {
  display: block;
  margin-bottom: 9px;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.logo .logo__p {
  display: block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.1em;
  font-size: 13px;
  margin-left: 4px;
}

.nav-list {
  display: flex;
  gap: 36px;
  list-style-type: none;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-link {
  text-decoration-line: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  display: block;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.nav-link_active {
  border-bottom: 3px solid rgb(241, 205, 179);
  cursor: default;
}

.header_light .logo .logo__h {
  color: rgb(241, 205, 179);
}
.header_light .logo .logo__p {
  color: white;
}
.header_light .nav-list {
  padding-bottom: 10px;
}
.header_light .nav-link {
  color: rgb(205, 205, 205);
}
.header_light .nav-link:hover {
  color: rgb(250, 250, 250);
}
.header_light .nav-link_active {
  color: rgb(250, 250, 250);
}
.header_light .line {
  border: 1px solid rgb(241, 205, 179);
}

.header_dark .logo .logo__h {
  color: rgb(84, 84, 84);
}
.header_dark .logo .logo__p {
  color: rgb(41, 41, 41);
}
.header_dark .nav-link {
  color: rgb(84, 84, 84);
}
.header_dark .nav-link:hover {
  color: rgb(41, 41, 41);
}
.header_dark .nav-link_active {
  color: rgb(41, 41, 41);
}
.header_dark .line {
  border: 1px solid black;
}
@media (max-width: 320px) {
  .header_dark .container {
    padding: 30px 0;
  }
}

.burger-menu__icon {
  display: none;
  padding-bottom: 5px;
  position: absolute;
  top: 49px;
  right: 20px;
  z-index: 10;
  transition: all 0.3s;
}
.burger-menu__icon .line {
  width: 30px;
}
@media (max-width: 767px) {
  .burger-menu__icon {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }
}

.burger-menu__icon_active {
  transform: rotate(90deg);
}

.burger-menu__bg {
  background: rgba(41, 41, 41, 0.6);
  position: absolute;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0s;
}
@media (min-width: 767px) {
  .burger-menu__bg {
    display: none;
  }
}

.burger-menu {
  position: absolute;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 320px;
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.burger-menu .nav-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
}
.burger-menu .nav-link {
  text-decoration-line: none;
  font-family: Arial, sans-serif;
  font-size: 32px;
  line-height: 160%;
  display: block;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.3s;
}
.burger-menu .nav-link_active {
  border-bottom: 3px solid rgb(241, 205, 179);
  cursor: default;
}

.burger-menu_active {
  right: 0;
}

.burger-menu__bg_active {
  height: 100%;
}

.header_dark .burger-menu {
  background-color: #fff;
}

.link-button {
  display: block;
}

.button {
  padding: 15px 45px;
  font-size: 17px;
  font-family: Georgia, serif;
  border-radius: 100px;
  color: rgb(41, 41, 41);
  letter-spacing: 0.06em;
  transition: all 0.3s;
}

.button_colored {
  background-color: rgb(241, 205, 179);
  border: 0;
  transition: all 0.3s;
}
.button_colored:hover {
  background-color: rgb(253, 220, 196);
  border-color: rgb(253, 220, 196);
  cursor: pointer;
}

.button_bordered {
  background-color: rgb(250, 250, 250);
  border: 2px solid rgb(241, 205, 179);
  transition: all 0.3s;
}
.button_bordered:hover {
  background-color: rgb(253, 220, 196);
  border-color: rgb(253, 220, 196);
  cursor: pointer;
}

.button_round {
  font-family: Georgia, serif;
  font-size: 20px;
  color: rgb(41, 41, 41);
  min-width: 52px;
  height: 52px;
  border: 2px solid rgb(241, 205, 179);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  transition: 0.3s;
}
.button_round:hover {
  background-color: rgb(253, 220, 196);
  border-color: rgb(253, 220, 196);
  cursor: pointer;
}

.button_round_inactive {
  color: rgb(205, 205, 205);
  border-color: rgb(205, 205, 205);
}
.button_round_inactive:hover {
  color: rgb(205, 205, 205);
  border-color: rgb(205, 205, 205);
  background-color: rgb(250, 250, 250);
  cursor: default;
}

.button_round_active {
  border-color: rgb(241, 205, 179);
  background-color: rgb(241, 205, 179);
}
.button_round_active:hover {
  cursor: default;
  border-color: rgb(241, 205, 179);
  background-color: rgb(241, 205, 179);
}

.close-button {
  font-size: 25px;
  font-weight: 900;
  position: relative;
  left: 950px;
  bottom: 275px;
}
@media (max-width: 1060px) {
  .close-button {
    left: 660px;
    bottom: 195px;
  }
}

.pets-card {
  background-color: rgb(250, 250, 250);
  transition: 0.3s;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  height: 436px;
  align-items: center;
}
.pets-card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets-card img {
  margin-bottom: 25px;
}
.pets-card h4 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}

.pets-card:hover .button_bordered {
  background-color: rgb(253, 220, 196);
  border: 2px solid rgb(253, 220, 196);
  cursor: pointer;
}

.pop-up-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up {
  background-color: rgb(250, 250, 250);
  width: 900px;
  position: relative;
  border-radius: 9px;
  display: flex;
}
@media (max-width: 1060px) {
  .pop-up {
    width: 630px;
    margin-right: 100px;
  }
}
@media (max-width: 760px) {
  .pop-up {
    width: 240px;
    margin-right: 50px;
    padding: 10px;
  }
}
.pop-up img {
  width: 500px;
  height: 500px;
}
@media (max-width: 1060px) {
  .pop-up img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 760px) {
  .pop-up img {
    display: none;
  }
}

.pop-up__text-content {
  margin-left: 29px;
  margin-top: 50px;
}
@media (max-width: 1060px) {
  .pop-up__text-content {
    margin-left: 11px;
    margin-top: 10px;
  }
}
@media (max-width: 760px) {
  .pop-up__text-content {
    margin: 0;
  }
}
.pop-up__text-content h3 {
  color: black;
  line-height: 130%;
  margin-bottom: 10px;
}
.pop-up__text-content h4 {
  color: black;
  margin-bottom: 40px;
}
@media (max-width: 1060px) {
  .pop-up__text-content h4 {
    margin-bottom: 20px;
  }
}
.pop-up__text-content h5 {
  color: black;
  margin-bottom: 40px;
  max-width: 350px;
}
@media (max-width: 1060px) {
  .pop-up__text-content h5 {
    font-size: 13px;
    line-height: 110%;
    margin-bottom: 20px;
    max-width: 260px;
  }
}
.pop-up__text-content ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 17px;
  margin-bottom: 10px;
}
@media (max-width: 1060px) {
  .pop-up__text-content ul li {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.pop-up__text-content ul li::before {
  color: rgb(241, 205, 179);
  font-size: 40px;
  content: "·";
  margin-right: 5px;
}
.pop-up__text-content ul li span {
  font-weight: 700;
}

#start-screen {
  background-image: url("../IMG/start-screen-gradient-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#start-screen .container {
  max-width: 1225px;
}
@media (max-width: 768px) {
  #start-screen .container {
    max-width: 727px;
  }
}
@media (max-width: 320px) {
  #start-screen .container {
    max-width: 300px;
  }
}

#start-screen-content {
  margin-top: 55px;
}
@media (max-width: 768px) {
  #start-screen-content {
    margin-top: 25px;
  }
}
#start-screen-content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 1204px) {
  #start-screen-content .container {
    justify-content: center;
  }
}

.start-screen-content__text-content {
  max-width: 460px;
  padding-bottom: 95px;
}
@media (max-width: 320px) {
  .start-screen-content__text-content {
    padding-bottom: 106px;
  }
}

.start-screen-content__h {
  max-width: 310px;
  margin-bottom: 42px;
}
@media (max-width: 320px) {
  .start-screen-content__h {
    max-width: 230px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.start-screen-content__p {
  color: rgb(205, 205, 205);
  line-height: 24px;
  margin-bottom: 57px;
}
@media (max-width: 768px) {
  .start-screen-content__p {
    margin-bottom: 42px;
  }
}
@media (max-width: 320px) {
  .start-screen-content__p {
    text-align: center;
    margin-bottom: 44px;
  }
}

.start-screen-content__img {
  margin-left: 27px;
}
@media (max-width: 768px) {
  .start-screen-content__img {
    margin: 7px 0 0 130px;
    max-width: 569px;
    height: 593px;
  }
}
@media (max-width: 767px) {
  .start-screen-content__img {
    max-width: 260px;
    height: 271.77px;
    margin: 0 0 0 33px;
  }
}
@media (max-width: 320px) {
  .start-screen-content__img {
    max-width: 260px;
    height: 271.77px;
    margin: 0 0 0 33px;
  }
}

.start-screen-content__button {
  margin-top: 200px;
}
@media (max-width: 768px) {
  .start-screen-content__button {
    display: block;
    margin: 0 auto;
    max-width: 208px;
  }
}

#about .container {
  display: flex;
  justify-content: center;
  padding: 80px 0 100px;
  flex-wrap: wrap-reverse;
}
@media (max-width: 768px) {
  #about .container {
    padding: 65px 0 100px;
  }
}
@media (max-width: 320px) {
  #about .container {
    padding: 26px 0 40px;
  }
}
#about img {
  display: block;
  max-width: 100%;
  margin-right: 120px;
}
@media (max-width: 768px) {
  #about img {
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  #about img {
    max-width: 260px;
  }
}
#about .about__text-content {
  max-width: 430px;
  padding-top: 16px;
}
#about .about__text-content h3 {
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  #about .about__text-content h3 {
    text-align: center;
    margin-bottom: 25px;
  }
}
#about .about__text-content p {
  line-height: 24px;
}
@media (max-width: 320px) {
  #about .about__text-content p {
    text-align: justify;
    max-width: 270px;
  }
}
#about .about__first-p {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  #about .about__first-p {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  #about .about__first-p {
    margin-bottom: 21px;
  }
}
@media (max-width: 768px) {
  #about .about__second-p {
    margin-bottom: 80px;
  }
}
@media (max-width: 320px) {
  #about .about__second-p {
    margin-bottom: 40px;
  }
}

#pets {
  background-color: rgb(246, 246, 246);
  padding: 80px 0 120px;
}
@media (max-width: 768px) {
  #pets {
    padding-bottom: 117px;
  }
}
@media (max-width: 320px) {
  #pets {
    padding: 46px 0 57px;
  }
}
@media (max-width: 768px) {
  #pets .container {
    max-width: 727px;
  }
}
@media (max-width: 320px) {
  #pets .container {
    max-width: 300px;
  }
}
#pets .container h3 {
  text-align: center;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 320px) {
  #pets .container h3 {
    margin-bottom: 40px;
  }
}
#pets .container .link-button {
  text-align: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 320px) {
  .slider {
    justify-content: center;
    margin-bottom: 20px;
  }
}
.slider .pets__pets-cards {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0 65px;
  height: 565px;
  flex-wrap: nowrap;
  max-width: 990px;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}
@media (max-width: 768px) {
  .slider .pets__pets-cards {
    gap: 0 40px;
  }
}
.slider .pets__pets-cards .pets-card {
  scroll-snap-align: center;
}
@media (max-width: 320px) {
  .slider .pets__pets-cards .pets-card {
    margin-left: 10px;
  }
}
.slider .pets__pets-cards img {
  margin-bottom: 30px;
}

.arrow {
  padding: 0;
  margin-bottom: 7px;
}

.arrow_right {
  transform: rotate(180deg);
}

@media (max-width: 320px) {
  .arrow_desktop {
    display: none;
  }
}

.arrows {
  display: none;
}
@media (max-width: 320px) {
  .arrows {
    display: flex;
    justify-content: space-between;
    max-width: 185px;
    margin: 0 auto 50px;
  }
}

#help {
  padding: 80px 0 100px;
}
@media (max-width: 320px) {
  #help {
    padding: 42px 0 42px;
  }
}
@media (max-width: 320px) {
  #help .container {
    max-width: 290px;
  }
}
#help h3 {
  max-width: 310px;
  margin: 0 auto 60px;
  text-align: center;
}
@media (max-width: 320px) {
  #help h3 {
    max-width: 230px;
    margin-bottom: 40px;
  }
}

.help__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 120px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .help__items {
    gap: 55px 60px;
  }
}
@media (max-width: 320px) {
  .help__items {
    gap: 28px 30px;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .help-item {
    width: 170px;
  }
}
@media (max-width: 320px) {
  .help-item {
    width: 130px;
  }
}
.help-item h4 {
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 320px) {
  .help-item h4 {
    font-size: 15px;
    margin-top: 22px;
  }
}
.help-item img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 320px) {
  .help-item img {
    width: 50px;
    height: 50px;
  }
}

#donation {
  padding: 80px 0 100px;
}
@media (max-width: 768px) {
  #donation {
    padding: 77px 0 101px;
  }
}
@media (max-width: 320px) {
  #donation {
    padding: 42px 0 45px;
  }
}
#donation .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
#donation .container img {
  margin-right: 30px;
}
@media (max-width: 768px) {
  #donation .container img {
    margin-top: 60px;
    margin-left: 30px;
  }
}
@media (max-width: 320px) {
  #donation .container img {
    margin-top: 40px;
    max-width: 260px;
  }
}
#donation .container h3 {
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  #donation .container h3 {
    text-align: center;
  }
}
#donation .container h5 {
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  #donation .container h5 {
    letter-spacing: 0;
    margin-bottom: 25px;
  }
}
#donation .container .credit-card {
  padding: 10px 15px;
  background-color: rgb(241, 205, 179);
  display: flex;
  justify-content: space-between;
  width: 349px;
  border-radius: 9px;
  margin-bottom: 20px;
}
@media (max-width: 350px) {
  #donation .container .credit-card {
    width: 280px;
  }
}
#donation .container .credit-card h4 {
  letter-spacing: 0.06em;
}
@media (max-width: 350px) {
  #donation .container .credit-card h4 {
    font-size: 15px;
    margin-top: 3px;
  }
}
#donation .container .credit-card img {
  margin: 0;
}
#donation .container p {
  color: rgb(178, 178, 178);
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  max-width: 380px;
}
@media (max-width: 320px) {
  #donation .container p {
    text-align: justify;
  }
}

.credit-card-number {
  color: rgb(84, 84, 84);
  transition: 0.3s;
}
.credit-card-number:hover {
  color: rgb(41, 41, 41);
}

footer {
  background-image: url("../IMG/footer-gradient-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
}
@media (max-width: 768px) {
  footer {
    padding-top: 15px;
  }
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 768px) {
  footer .container {
    padding: 0 35px;
    justify-content: space-between;
  }
}
@media (max-width: 650px) {
  footer .container {
    padding: 0 35px;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  footer .container {
    max-width: 300px;
    padding: 0;
    justify-content: center;
  }
}
footer .container h3 {
  color: white;
}
@media (max-width: 320px) {
  footer .container h3 {
    text-align: center;
  }
}

.footer__column {
  padding-top: 15px;
}

.footer__first-column {
  max-width: 280px;
}
.footer__first-column h3 {
  margin-bottom: 40px;
}
@media (max-width: 320px) {
  .footer__first-column h3 {
    max-width: 278px;
  }
}

.footer__second-column {
  max-width: 302px;
}
.footer__second-column h3 {
  margin-bottom: 34px;
}
@media (max-width: 320px) {
  .footer__second-column h3 {
    max-width: 270px;
    margin: 0 auto 37px;
  }
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 40px;
}

.footer-item__text {
  color: rgb(241, 205, 179);
  letter-spacing: 0.06em;
}

.first-adress {
  margin-bottom: 30px;
}

.footer-link {
  color: rgb(241, 205, 179);
  transition: 0.3s;
}
.footer-link:hover {
  color: rgb(253, 220, 196);
}

@media (max-width: 768px) {
  .footer__img {
    margin: 25px auto 0;
  }
}
@media (max-width: 320px) {
  .footer__img {
    max-width: 260px;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .email {
    padding-left: 12px;
  }
}

@media (max-width: 320px) {
  .phone {
    padding-left: 18px;
    margin-bottom: 25px;
  }
}

@media (max-width: 320px) {
  .first-adress {
    margin-bottom: 40px;
  }
}

#our-pets .container {
  padding: 77px 0 60px;
}
@media (max-width: 768px) {
  #our-pets .container {
    padding-bottom: 40px;
  }
}
@media (max-width: 320px) {
  #our-pets .container {
    padding: 38px 0 42px;
    max-width: 300px;
  }
}
#our-pets .container h3 {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  #our-pets .container h3 {
    margin-bottom: 28px;
  }
}
@media (max-width: 320px) {
  #our-pets .container h3 {
    margin-bottom: 40px;
  }
}
#our-pets .container .our-pets__pets-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 35px;
}
@media (max-width: 768px) {
  #our-pets .container .our-pets__pets-cards {
    justify-content: center;
    row-gap: 27px;
  }
}
@media (max-width: 320px) {
  #our-pets .container .our-pets__pets-cards {
    gap: 27px 0;
  }
}
@media (max-width: 768px) {
  #our-pets .container .our-pets__pets-cards .pets-card img {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  #our-pets .container .our-pets__pets-cards .pets-card img {
    margin-bottom: 30px;
  }
}

.our-pets__buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .our-pets__buttons {
    padding-bottom: 75px;
  }
}
@media (max-width: 340px) {
  .our-pets__buttons {
    gap: 10px;
  }
}
@media (max-width: 320px) {
  .our-pets__buttons {
    padding-bottom: 42px;
  }
}

/*# sourceMappingURL=style.css.map */
